*{
	margin:0;
}
body{
	background-image: url("img/jogja.png");
	background-size: 800px;
	background-color:#333300;
}
div.navbar{
	background-color:#DC143C;
	text-align: left;
	color:black;
	padding:9px;
}
nav{
	text-align: center;
	margin:auto;
	width: 100%;
	font-family: arial;
	background-color: #D2691E;
}
div.content{
	color:white;
}

